<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Choicen</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="question-list">
      <h1>質問一覧</h1>
      <% for (var elm of ret){ %>
        <h3><%= elm.question.title %></h3>
        <form action="/votes/create_or_update" method="post">
          <input type="hidden" name="user_id" value="<%= user_id %>">
          <input type="hidden" name="question_id" value="<%= elm.question.id %>">
          <% for (var option of elm.options){ %>
            <% if (option.id == elm.voted_id) { %>
              <label><input type="radio" name="option_id" value="<%= option.id %>" onchange="this.form.submit();" checked><b><%= option.name %></b></input></label><br>
            <% } else { %>
              <label><input type="radio" name="option_id" value="<%= option.id %>" onchange="this.form.submit();"><%= option.name %></input></label><br>
            <% } %>
          <% } %>
        </form>
      <% } %>
    </div>
    <hr>
    <div class="question-form">
      <form action="/questions/create" method="post">
        <label for="title">質問</label><br />
        <input type="text" name="title" value=""><br />
        <label for="options">選択肢</label><br />
        <input type="text" name="options" value=""><br />
        <input type="text" name="options" value=""><br />
        <input type="submit" value="submit">
      </form>
    </div>
  </body>
</html>
